/*
    CSS for the splash module.
    Do not leave file empty.
*/
.splash{
    width:calc(100% - 20px);
    height:100%;
    background:rgb(200,200,200);
    position:absolute;
}

.splash img{
    position:absolute;
    top:calc(50% - 128px);
    left:calc(50% - 128px);
    opacity:.1;
}