/*
    CSS for the header module.
    Do not leave file empty.
*/

header{
    -webkit-app-region: drag;
    background-image:-webkit-linear-gradient(
        top, 
        rgb(100,100,100), 
        rgb(80,75,80)
    );
    padding:5px;
    height:30px;
    line-height:30px;
    color:rgb(210,210,210);
    font-size:14px;
    position:fixed;
    top:0;
    left:0;
    width:calc(100% - 5px);
    z-index:10000;
}

header.IMHeader{
    background-image:-webkit-linear-gradient(
        top, 
        rgb(70,70,80), 
        rgb(40,40,80)
    );
    
    height:20px;
    line-height:20px;
}

header.DMHeader{
    background-image:-webkit-linear-gradient(
        top, 
        rgb(70,80,70), 
        rgb(40,60,40)
    );
    
    height:20px;
    line-height:20px;
}

header button{
    -webkit-app-region: no-drag;
    border:none;
    background:rgba(130,130,130,.5);
    color:rgb(210,210,210);
}

header .IMTitle{
    float:left;
    display:none;
}

header .DMTitle{
    float:left;
    display:none;
}

header.IMHeader .IMTitle{
    display:block;
}

header.IMHeader button{
    display:none;
}

header .rightBut{
    float:right;
}

header.IMHeader button.rightBut{
    display:block;
}

header.IMHeader button.rightBut.old{
    display:none;
}

header .old{
    outline:none;
}