/*
    CSS for the encrypt module.
    Do not leave file empty.
*/

.encrypt-module{
    height:calc(100% - 40px);   
    position:absolute;
}

.encrypt-module h2{
    margin:0;
    height:30px;
    line-height:30px;
    font-size:20px;
}

.encrypt-module textarea{
    width:calc(100% - 5px);
    height:calc(100% - 70px);
    background:rgba(220,233,220,.7);
    border:none;
    outline:none;
    resize:none;
}

.encrypt-module button{
    border:none;
    background:rgba(120,133,120,.5);
    color:rgb(210,210,210);
    width:75px;
}

.encrypt-module input{
    width:calc(100% - 200px);
}